DB_DATABSE=
DB_PASSWORD=
DB_USERNAME=
DB_HOST=
DB_SCHEMA=

APP_PORT=8080
PORT=8080

DB_PORT=5432
DB_CONTAINER_PORT=5432

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URL=

FRONTEND_URL=

JWT_SECRET=

MODE=
